{% extends "base.html" %}

<!-- Analytic scripts -->
{% block analytics %}

{{ super() }}

  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="7b71d939-6959-42f9-832a-f4237fe8e243" async></script>
  <!-- Google Tag Manager -->
  <script data-cookieconsent="marketing" type="text/plain">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXLT3G7');</script>
  <!-- End Google Tag Manager -->
  
  {% if config.extra.sources.algolia %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
  {% endif %}
{% endblock %}

<!-- Theme-related JavaScript -->
{% block scripts %}

  {{ super() }}

  {% if config.extra.sources.algolia %}
    <script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
    <script>docsearch({
      appId:"{{ config.extra.sources.algolia.appId }}",
      apiKey:"{{ config.extra.sources.algolia.apiKey }}",
      indexName:"{{ config.extra.sources.algolia.index }}",
      inputSelector:"{{ config.extra.sources.algolia.selector }}",
      {% if config.extra.sources.algolia.debug == true %}
        debug:"{{ config.extra.sources.algolia.debug }}",
      {% endif %}
      algoliaOptions:{hitsPerPage:"{{ config.extra.sources.algolia.hits }}", facetFilters: ["lang:/"]}})</script>
  {% endif %}

{% endblock %}
