/* ////////////////////////////// */
/* BRANCH HEADER TITLE */
/* ////////////////////////////// */
.branch-header-subtitle {
  font-size: 2em;
  margin-top: 0.9em;
  padding-right: 1.5em;
  color: hsla(0,0%,100%,.7);
  white-space: nowrap;
}
@media only screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title--site .md-nav__button {
    width: 6em !important;
    font-size: 1.5em !important;
  }
  .branch-header-subtitle {
    display: none;
  }
}



/* ////////////////////////////// */
/* BRANCH HEADER BUTTONS */
/* ////////////////////////////// */
.branch-header-button {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 992px) {
  .md-search .branch-header-button {
    display: none;
  }
}

.branch-header-label {
  display: none;
  margin: 0;
  font-size: 0.6rem;
  white-space: nowrap;
}
@media (min-width: 960px) {
  .branch-header-label {
    display: block;
  }
}
.md-logo.md-header-nav__button {
  padding: 0;
  margin: 0;
}
.md-logo.md-header-nav__button:first-child {
  padding-left: 0.5em;
}
.md-logo.md-header-nav__button img {
  height: 1.75em;
}



/* ////////////////////////////// */
/* BRANCH CODE TABS */
/* ////////////////////////////// */
.tab-code-button * {
  display: inline-block;
}
.tab-code-separator {
  color: hsla(0,0%,60%,.5);
  padding: 1em;
}
.tab-code-button {
  color: inherit;
  padding: 0.5em 0;
}
.tab-code-button.active {
  color: black;
  border-bottom: 2px solid black;
}
.tab-code-content {
  display: none;
}
.tab-code-content.active {
  display: block;
}



/* ////////////////////////////// */
/* MARKDOWN */
/* ////////////////////////////// */
.md-typeset img {
  box-shadow: 0px 0px 1px #ccc;
  max-width: 100%;
  max-height: 100%;
}
.md-typeset h2 {
  font-weight: 700;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}
.md-typeset h3, h4, h5 {
  font-weight: 600;
  margin: 1rem 0 0.25rem !important;
}
.md-typeset h3 {
  font-size: 0.95rem;
}
.md-typeset h4 {
  font-size: 0.875rem;
}
.md-typeset h5 {
  text-transform: none;
  color: rgba(0,0,0,.87);
  font-size: 0.8rem;
}
.md-typeset li > h3:before, .md-typeset li > h4:before, .md-typeset li > h5:before, .md-typeset li > h6:before {
  /* corrects headers on the same line as bullet points */
  content: close-quote !important;
  display: inline !important;
}
.md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
  /* correct anchor header from being below nav bar */
  padding-top: 3.5em !important;
  margin-top: -3.5em !important;
}
.codehilite .hll {
  background-color: rgba(231,255,238,1);
  display: inline;
  padding: 0 0 0 0.6rem;
}
.highlight pre {
  background-color: #f6f8fa;
}
.branch-image-override {
  max-width: 550px !important;
  max-height: 550px !important;
}



/* ////////////////////////////// */
/* MODAL BASICS */
/* ////////////////////////////// */
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0);
  transition: background 0.25s ease-in-out;
}
.modal.active.dialog .modal-background {
  transform: translate(0, 100%);
  background-color: rgba(0,0,0,0.2);
}
.modal-content {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow-y: scroll;
  opacity: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0.05em 0.05em 0.5em #888888;
  padding: 1.5em;
}
.modal.dialog .modal-content {
  transition: opacity 0.25s ease-in-out;
  max-width: 60em;
}
.modal.notification .modal-content {
  transition: 0.25s ease-in-out;
  transform: translate(-50%, 0%);
  max-width: 30em;
}
.modal.active .modal-content {
  opacity: 1;
}
.modal.active.dialog .modal-content {
  top: 50%;
}
.modal.active.notification .modal-content {
  top: 0%;
}
html.modal {
  overflow-y: hidden;
}
.modal > ::-webkit-scrollbar, .md-content > ::-webkit-scrollbar {
  display: none;
}
.right {
  float: right;
}
.modal-close {
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: bold;
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus, .branch-header-button:hover, .branch-header-button:focus, .modal-content a:hover, .modal-content a:focus {
  opacity: 0.7;
}
.modal-content h2 {
  font-size: 2.25em;
  margin: 0;
}
.modal-content p, .modal-content a, .modal-content input {
  font-size: 1.5em;
}
.modal-content a {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1em;
  margin-right: 1em;
}



/* ////////////////////////////// */
/* MODAL IMAGES */
/* ////////////////////////////// */
.modal.active.dialog.image .modal-content {
  max-width: 100em;
}
.modal.active.dialog.image #modal-image-link {
  display: block;
  background: none !important;
}
.modal.active.dialog.image #modal-image-img {
  width: 100%;
}



/* ////////////////////////////// */
/* MODAL CODE */
/* ////////////////////////////// */
.modal.active.dialog .flex {
  display: flex;
  width: 100%;
  margin-top: 1em;
}
.modal.active.dialog .flex button, .modal.active.dialog .flex a {
  flex: 1;
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 1em;
  margin: 0.25em 0.5em;
}
.modal.active.dialog.code button:hover {
  opacity: 0.7;
}
.modal.active.dialog.code button.disabled:hover {
  opacity: 1.0;
}




/* ////////////////////////////// */
/* SEARCH */
/* ////////////////////////////// */
.algolia-autocomplete, #algolia-doc-search {
  width: 100%;
}
.modal.active > #algolia-search-container {
  top: 40%;
}
.algolia-autocomplete .ds-dropdown-menu, .algolia-autocomplete .ds-dropdown-menu:before {
  box-shadow: none;
}
.algolia-docsearch-suggestion {
  font-size: 1em !important;
  margin-right: 0;
}
.algolia-docsearch-suggestion:hover {
  opacity: 1 !important;
}
.algolia-docsearch-suggestion--category-header {
  display: none !important;
}
#algolia-search-container {
  max-height: 70%;
}
.ds-dropdown-menu {
  padding: 0;
  margin: 0;
  top: 0;
  margin-top: 1em !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
.md-header .ds-dropdown-menu {
  font-size: 1.5em
}
.ds-dataset-1 {
  max-height: 300px;
}
.md-header .ds-dataset-1 {
  max-height: 75vh;
}
.algolia-docsearch-footer--logo {
  background-color: white !important;
}

.md-search:focus-within .algolia-autocomplete~.md-search__icon {
    color: rgba(0,0,0,.54)
}
.md-search:focus-within .algolia-autocomplete~.md-search__icon[type=reset] {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}
.md-search__output {
  display: none;
}




/* ////////////////////////////// */
/* IMAGES */
/* ////////////////////////////// */
.third {
  width: 33%;
}
.half {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.full-width {
  width: 100%;
}
.center {
  display:block;
  margin: auto;
}



/* ////////////////////////////// */
/* HEADER GITHUB STATS */
/* ////////////////////////////// */
.md-nav__source, .md-source__facts, .md-source__icon {
  display: none;
}
.md-source__repository {
  font-weight: 400;
  font-size: 0.9rem;
  overflow: visible;
}
.md-nav__link[data-md-state=blur] {
  color: rgba(0,0,0,.25);
}



/* ////////////////////////////// */
/* NAVIGATION */
/* ////////////////////////////// */
.md-nav__item {
  padding-left: 0.8rem;
}
.md-nav--secondary > .md-nav__list > .md-nav__item, .md-nav--primary > .md-nav__list > .md-nav__item {
  padding-left: 0.6rem;
}
.md-nav--primary .md-nav__title--site {
  display: none;
}
.branch-nav-header {
  display: none;
}
.md-nav--primary > .md-nav__list > .md-nav__item--nested,
.md-nav--primary .md-nav__list .md-nav__item:nth-child(1) {
  cursor: default;
  padding-top: 0.5rem;
  font-weight: 700;
}
.md-nav--primary > .md-nav__list > .md-nav__item--nested .md-nav__item {
  cursor: default;
  font-weight: initial;
  padding-top: initial;
}

/* ////////////////////////////// */
/* FOOTER FLOATERS */
/* ////////////////////////////// */
.branch-floater {
  background-color: #0075C9;
  color: white;
  font-size: 1.3em;
  padding: 0.75em;
  font-weight: 600;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.5);
}
.branch-beta {
  right: 0;
  border-top-left-radius: 1em;
}
.branch-old-docs {
  left: 0;
  padding: 0.6em 0.75em;
  border-top-right-radius: 1em;
}


/* ////////////////////////////// */
/* BRANCH STYLING */
/* ////////////////////////////// */
/* primary */
.md-header, .modal-content a:not(.algolia-docsearch-footer--logo):not(.algolia-docsearch-suggestion), .modal-content button {
  background-color: #0075C9 !important;
}
@media only screen and (max-width: 76.1875em) {
  .md-nav__title--site {
    background-color: #0075C9 !important;
  }
}
/* secondary */
.md-nav--secondary {
  border-left: .2rem solid #0075C9 !important;
}
.md-content a, .md-nav__link--active, .md-nav__link:hover, .md-typeset a:active, .md-typeset a:hover {
  color: #0075C9 !important;
}
.md-content a:hover {
  opacity: 0.7;
}
.md-typeset .md-content__icon {
  color: rgba(0,0,0,.26) !important;
}
.md-nav--secondary .md-nav__link--active {
  color: inherit !important;
}
.branch-nav-header:hover {
  color: black !important;
}
.tab-code-button.active {
  color: #0075C9;
  border-bottom: 2px solid #0075C9;
}
.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background: #0075C9 !important;
}
.md-footer-social__link {
  border: none;
  font-size: 1.25em !important;
  line-height: 3em !important;
}
/* tertiary */
.md-footer-meta {
  background-color: #333E48;
}
.md-footer-social {
  margin: 0;
  padding: 0;
}
/* disabled */
.modal.active.dialog.code button.disabled {
  background-color: rgba(0,0,0,0.25) !important;
}
.vanish {
  visibility: hidden;
}
.vglnk {
  word-break: break-word;
}


/* ////////////////////////////// */
/* LANDING PAGE */
/* ////////////////////////////// */
.nav-wrap {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.nav-wrap img {
  box-shadow: none;
}

.nav-wrap a {
  padding: 0 10px;
  margin: 10px 0;
}

.nav-wrap p {
  color: #0075C9;
  font-weight: bold;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nav-wrap img {
  height: 65px;
}

.nav-wrap div,
.nav-wrap a {
  padding: 0 10px;
  margin: 10px 0;
}





/* ////////////////////////////// */
/* Design System
/* ////////////////////////////// */
.bds-b1{font-size:1.125rem}.bds-b2{font-size:1rem}.bds-b3{font-size:.875rem}.bds-b4{font-size:.75rem}.bds-l1{font-size:.6875rem}.bds-txt-light{font-weight:300}.bds-txt-regular{font-weight:400}.bds-txt-semi-bold{font-weight:600}.bds-txt-bold{font-weight:700}.bds-txt-left{text-align:left}.bds-txt-right{text-align:right}.bds-txt-center{text-align:center}.bds-txt-44{font-size:2.75rem}.bds-txt-40{font-size:2.5rem}.bds-txt-34{font-size:2.25rem}.bds-txt-24{font-size:1.5rem}.bds-txt-22{font-size:1.37rem}.bds-txt-20{font-size:1.25rem}.bds-txt-18{font-size:1.125rem}.bds-txt-16{font-size:1rem}.bds-txt-14{font-size:.875rem}.bds-txt-12{font-size:.75rem}.bds-txt-11{font-size:.6875rem}@media screen and (min-width:768px){.bds-txt-md-left{text-align:left}.bds-txt-md-right{text-align:right}.bds-txt-md-center{text-align:center}}@media screen and (min-width:992px){.bds-txt-lg-left{text-align:left}.bds-txt-lg-right{text-align:right}.bds-txt-lg-center{text-align:center}}.bds-txt-upper{text-transform:uppercase}.bds-txt-lower{text-transform:lowercase}.bds-txt-wrap{white-space:normal}.bds-txt-nowrap{white-space:nowrap}@media (min-width:992px){.bds-txt-lg-44{font-size:2.75rem}.bds-txt-lg-40{font-size:2.5rem}.bds-txt-lg-34{font-size:2.25rem}.bds-txt-lg-24{font-size:1.5rem}.bds-txt-lg-22{font-size:1.37rem}.bds-txt-lg-20{font-size:1.25rem}.bds-txt-lg-18{font-size:1.125rem}.bds-txt-lg-16{font-size:1rem}.bds-txt-lg-14{font-size:.875rem}.bds-txt-lg-12{font-size:.75rem}.bds-txt-lg-11{font-size:.6875rem}}.bds-hov-txt-light:hover{font-weight:300}.bds-hov-txt-regular:hover{font-weight:400}.bds-hov-txt-semi-bold:hover{font-weight:600}.bds-hov-txt-bold:hover{font-weight:700}.bds-space-xxs{height:.5rem;width:.5rem}.bds-space-xs{height:1rem;width:1rem}.bds-space-sm{height:1.5rem;width:1.5rem}.bds-space-md{height:2rem;width:2rem}.bds-space-lg{height:3rem;width:3rem}.bds-space-xl{height:4.2rem;width:4.2rem}.bds-space-xxl{height:5.5rem;width:5.5rem}.bds-pad-0{padding:0}.bds-pad-xxs{padding:.5rem}.bds-pad-xs{padding:1rem}.bds-pad-sm{padding:1.5rem}.bds-pad-md{padding:2rem}.bds-pad-lg{padding:3rem}.bds-pad-xl{padding:4.2rem}.bds-pad-xxl{padding:5.5rem}.bds-pad-all-0{padding:0}.bds-pad-all-xxs{padding:.5rem}.bds-pad-all-xs{padding:1rem}.bds-pad-all-sm{padding:1.5rem}.bds-pad-all-md{padding:2rem}.bds-pad-all-lg{padding:3rem}.bds-pad-all-xl{padding:4.2rem}.bds-pad-all-xxl{padding:5.5rem}.bds-pad-t-0{padding-top:0}.bds-pad-t-xxs{padding-top:.5rem}.bds-pad-t-xs{padding-top:1rem}.bds-pad-t-sm{padding-top:1.5rem}.bds-pad-t-md{padding-top:2rem}.bds-pad-t-lg{padding-top:3rem}.bds-pad-t-xl{padding-top:4.2rem}.bds-pad-t-xxl{padding-top:5.5rem}.bds-pad-b-0{padding-bottom:0}.bds-pad-b-xxs{padding-bottom:.5rem}.bds-pad-b-xs{padding-bottom:1rem}.bds-pad-b-sm{padding-bottom:1.5rem}.bds-pad-b-md{padding-bottom:2rem}.bds-pad-b-lg{padding-bottom:3rem}.bds-pad-b-xl{padding-bottom:4.2rem}.bds-pad-b-xxl{padding-bottom:5.5rem}.bds-pad-l-0{padding-left:0}.bds-pad-l-xxs{padding-left:.5rem}.bds-pad-l-xs{padding-left:1rem}.bds-pad-l-sm{padding-left:1.5rem}.bds-pad-l-md{padding-left:2rem}.bds-pad-l-lg{padding-left:3rem}.bds-pad-l-xl{padding-left:4.2rem}.bds-pad-l-xxl{padding-left:5.5rem}.bds-pad-r-0{padding-right:0}.bds-pad-r-xxs{padding-right:.5rem}.bds-pad-r-xs{padding-right:1rem}.bds-pad-r-sm{padding-right:1.5rem}.bds-pad-r-md{padding-right:2rem}.bds-pad-r-lg{padding-right:3rem}.bds-pad-r-xl{padding-right:4.2rem}.bds-pad-r-xxl{padding-right:5.5rem}.bds-pad-x-0{padding-left:0;padding-right:0}.bds-pad-x-xxs{padding-left:.5rem;padding-right:.5rem}.bds-pad-x-xs{padding-left:1rem;padding-right:1rem}.bds-pad-x-sm{padding-left:1.5rem;padding-right:1.5rem}.bds-pad-x-md{padding-left:2rem;padding-right:2rem}.bds-pad-x-lg{padding-left:3rem;padding-right:3rem}.bds-pad-x-xl{padding-left:4.2rem;padding-right:4.2rem}.bds-pad-x-xxl{padding-left:5.5rem;padding-right:5.5rem}.bds-pad-y-0{padding-top:0;padding-bottom:0}.bds-pad-y-xxs{padding-top:.5rem;padding-bottom:.5rem}.bds-pad-y-xs{padding-top:1rem;padding-bottom:1rem}.bds-pad-y-sm{padding-top:1.5rem;padding-bottom:1.5rem}.bds-pad-y-md{padding-top:2rem;padding-bottom:2rem}.bds-pad-y-lg{padding-top:3rem;padding-bottom:3rem}.bds-pad-y-xl{padding-top:4.2rem;padding-bottom:4.2rem}.bds-pad-y-xxl{padding-top:5.5rem;padding-bottom:5.5rem}.bds-marg-0{margin:0}.bds-marg-xxs{margin:.5rem}.bds-marg-xs{margin:1rem}.bds-marg-sm{margin:1.5rem}.bds-marg-md{margin:2rem}.bds-marg-lg{margin:3rem}.bds-marg-xl{margin:4.2rem}.bds-marg-xxl{margin:5.5rem}.bds-marg-all-0{margin:0}.bds-marg-all-xxs{margin:.5rem}.bds-marg-all-xs{margin:1rem}.bds-marg-all-sm{margin:1.5rem}.bds-marg-all-md{margin:2rem}.bds-marg-all-lg{margin:3rem}.bds-marg-all-xl{margin:4.2rem}.bds-marg-all-xxl{margin:5.5rem}.bds-marg-t-0{margin-top:0}.bds-marg-t-xxs{margin-top:.5rem}.bds-marg-t-xs{margin-top:1rem}.bds-marg-t-sm{margin-top:1.5rem}.bds-marg-t-md{margin-top:2rem}.bds-marg-t-lg{margin-top:3rem}.bds-marg-t-xl{margin-top:4.2rem}.bds-marg-t-xxl{margin-top:5.5rem}.bds-marg-b-0{margin-bottom:0}.bds-marg-b-xxs{margin-bottom:.5rem}.bds-marg-b-xs{margin-bottom:1rem}.bds-marg-b-sm{margin-bottom:1.5rem}.bds-marg-b-md{margin-bottom:2rem}.bds-marg-b-lg{margin-bottom:3rem}.bds-marg-b-xl{margin-bottom:4.2rem}.bds-marg-b-xxl{margin-bottom:5.5rem}.bds-marg-l-0{margin-left:0}.bds-marg-l-xxs{margin-left:.5rem}.bds-marg-l-xs{margin-left:1rem}.bds-marg-l-sm{margin-left:1.5rem}.bds-marg-l-md{margin-left:2rem}.bds-marg-l-lg{margin-left:3rem}.bds-marg-l-xl{margin-left:4.2rem}.bds-marg-l-xxl{margin-left:5.5rem}.bds-marg-r-0{margin-right:0}.bds-marg-r-xxs{margin-right:.5rem}.bds-marg-r-xs{margin-right:1rem}.bds-marg-r-sm{margin-right:1.5rem}.bds-marg-r-md{margin-right:2rem}.bds-marg-r-lg{margin-right:3rem}.bds-marg-r-xl{margin-right:4.2rem}.bds-marg-r-xxl{margin-right:5.5rem}.bds-marg-x-0{margin-left:0;margin-right:0}.bds-marg-x-xxs{margin-left:.5rem;margin-right:.5rem}.bds-marg-x-xs{margin-left:1rem;margin-right:1rem}.bds-marg-x-sm{margin-left:1.5rem;margin-right:1.5rem}.bds-marg-x-md{margin-left:2rem;margin-right:2rem}.bds-marg-x-lg{margin-left:3rem;margin-right:3rem}.bds-marg-x-xl{margin-left:4.2rem;margin-right:4.2rem}.bds-marg-x-xxl{margin-left:5.5rem;margin-right:5.5rem}.bds-marg-y-0{margin-top:0;margin-bottom:0}.bds-marg-y-xxs{margin-top:.5rem;margin-bottom:.5rem}.bds-marg-y-xs{margin-top:1rem;margin-bottom:1rem}.bds-marg-y-sm{margin-top:1.5rem;margin-bottom:1.5rem}.bds-marg-y-md{margin-top:2rem;margin-bottom:2rem}.bds-marg-y-lg{margin-top:3rem;margin-bottom:3rem}.bds-marg-y-xl{margin-top:4.2rem;margin-bottom:4.2rem}.bds-marg-y-xxl{margin-top:5.5rem;margin-bottom:5.5rem}@media (min-width:992px){.bds-pad-lg-0{padding:0}.bds-pad-lg-xxs{padding:.5rem}.bds-pad-lg-xs{padding:1rem}.bds-pad-lg-sm{padding:1.5rem}.bds-pad-lg-md{padding:2rem}.bds-pad-lg-lg{padding:3rem}.bds-pad-lg-xl{padding:4.2rem}.bds-pad-lg-xxl{padding:5.5rem}.bds-pad-lg-all-0{padding:0}.bds-pad-lg-all-xxs{padding:.5rem}.bds-pad-lg-all-xs{padding:1rem}.bds-pad-lg-all-sm{padding:1.5rem}.bds-pad-lg-all-md{padding:2rem}.bds-pad-lg-all-lg{padding:3rem}.bds-pad-lg-all-xl{padding:4.2rem}.bds-pad-lg-all-xxl{padding:5.5rem}.bds-pad-lg-t-0{padding-top:0}.bds-pad-lg-t-xxs{padding-top:.5rem}.bds-pad-lg-t-xs{padding-top:1rem}.bds-pad-lg-t-sm{padding-top:1.5rem}.bds-pad-lg-t-md{padding-top:2rem}.bds-pad-lg-t-lg{padding-top:3rem}.bds-pad-lg-t-xl{padding-top:4.2rem}.bds-pad-lg-t-xxl{padding-top:5.5rem}.bds-pad-lg-b-0{padding-bottom:0}.bds-pad-lg-b-xxs{padding-bottom:.5rem}.bds-pad-lg-b-xs{padding-bottom:1rem}.bds-pad-lg-b-sm{padding-bottom:1.5rem}.bds-pad-lg-b-md{padding-bottom:2rem}.bds-pad-lg-b-lg{padding-bottom:3rem}.bds-pad-lg-b-xl{padding-bottom:4.2rem}.bds-pad-lg-b-xxl{padding-bottom:5.5rem}.bds-pad-lg-l-0{padding-left:0}.bds-pad-lg-l-xxs{padding-left:.5rem}.bds-pad-lg-l-xs{padding-left:1rem}.bds-pad-lg-l-sm{padding-left:1.5rem}.bds-pad-lg-l-md{padding-left:2rem}.bds-pad-lg-l-lg{padding-left:3rem}.bds-pad-lg-l-xl{padding-left:4.2rem}.bds-pad-lg-l-xxl{padding-left:5.5rem}.bds-pad-lg-r-0{padding-right:0}.bds-pad-lg-r-xxs{padding-right:.5rem}.bds-pad-lg-r-xs{padding-right:1rem}.bds-pad-lg-r-sm{padding-right:1.5rem}.bds-pad-lg-r-md{padding-right:2rem}.bds-pad-lg-r-lg{padding-right:3rem}.bds-pad-lg-r-xl{padding-right:4.2rem}.bds-pad-lg-r-xxl{padding-right:5.5rem}.bds-pad-lg-x-0{padding-left:0;padding-right:0}.bds-pad-lg-x-xxs{padding-left:.5rem;padding-right:.5rem}.bds-pad-lg-x-xs{padding-left:1rem;padding-right:1rem}.bds-pad-lg-x-sm{padding-left:1.5rem;padding-right:1.5rem}.bds-pad-lg-x-md{padding-left:2rem;padding-right:2rem}.bds-pad-lg-x-lg{padding-left:3rem;padding-right:3rem}.bds-pad-lg-x-xl{padding-left:4.2rem;padding-right:4.2rem}.bds-pad-lg-x-xxl{padding-left:5.5rem;padding-right:5.5rem}.bds-pad-lg-y-0{padding-top:0;padding-bottom:0}.bds-pad-lg-y-xxs{padding-top:.5rem;padding-bottom:.5rem}.bds-pad-lg-y-xs{padding-top:1rem;padding-bottom:1rem}.bds-pad-lg-y-sm{padding-top:1.5rem;padding-bottom:1.5rem}.bds-pad-lg-y-md{padding-top:2rem;padding-bottom:2rem}.bds-pad-lg-y-lg{padding-top:3rem;padding-bottom:3rem}.bds-pad-lg-y-xl{padding-top:4.2rem;padding-bottom:4.2rem}.bds-pad-lg-y-xxl{padding-top:5.5rem;padding-bottom:5.5rem}.bds-marg-lg-0{margin:0}.bds-marg-lg-xxs{margin:.5rem}.bds-marg-lg-xs{margin:1rem}.bds-marg-lg-sm{margin:1.5rem}.bds-marg-lg-md{margin:2rem}.bds-marg-lg-lg{margin:3rem}.bds-marg-lg-xl{margin:4.2rem}.bds-marg-lg-xxl{margin:5.5rem}.bds-marg-lg-all-0{margin:0}.bds-marg-lg-all-xxs{margin:.5rem}.bds-marg-lg-all-xs{margin:1rem}.bds-marg-lg-all-sm{margin:1.5rem}.bds-marg-lg-all-md{margin:2rem}.bds-marg-lg-all-lg{margin:3rem}.bds-marg-lg-all-xl{margin:4.2rem}.bds-marg-lg-all-xxl{margin:5.5rem}.bds-marg-lg-t-0{margin-top:0}.bds-marg-lg-t-xxs{margin-top:.5rem}.bds-marg-lg-t-xs{margin-top:1rem}.bds-marg-lg-t-sm{margin-top:1.5rem}.bds-marg-lg-t-md{margin-top:2rem}.bds-marg-lg-t-lg{margin-top:3rem}.bds-marg-lg-t-xl{margin-top:4.2rem}.bds-marg-lg-t-xxl{margin-top:5.5rem}.bds-marg-lg-b-0{margin-bottom:0}.bds-marg-lg-b-xxs{margin-bottom:.5rem}.bds-marg-lg-b-xs{margin-bottom:1rem}.bds-marg-lg-b-sm{margin-bottom:1.5rem}.bds-marg-lg-b-md{margin-bottom:2rem}.bds-marg-lg-b-lg{margin-bottom:3rem}.bds-marg-lg-b-xl{margin-bottom:4.2rem}.bds-marg-lg-b-xxl{margin-bottom:5.5rem}.bds-marg-lg-l-0{margin-left:0}.bds-marg-lg-l-xxs{margin-left:.5rem}.bds-marg-lg-l-xs{margin-left:1rem}.bds-marg-lg-l-sm{margin-left:1.5rem}.bds-marg-lg-l-md{margin-left:2rem}.bds-marg-lg-l-lg{margin-left:3rem}.bds-marg-lg-l-xl{margin-left:4.2rem}.bds-marg-lg-l-xxl{margin-left:5.5rem}.bds-marg-lg-r-0{margin-right:0}.bds-marg-lg-r-xxs{margin-right:.5rem}.bds-marg-lg-r-xs{margin-right:1rem}.bds-marg-lg-r-sm{margin-right:1.5rem}.bds-marg-lg-r-md{margin-right:2rem}.bds-marg-lg-r-lg{margin-right:3rem}.bds-marg-lg-r-xl{margin-right:4.2rem}.bds-marg-lg-r-xxl{margin-right:5.5rem}.bds-marg-lg-x-0{margin-left:0;margin-right:0}.bds-marg-lg-x-xxs{margin-left:.5rem;margin-right:.5rem}.bds-marg-lg-x-xs{margin-left:1rem;margin-right:1rem}.bds-marg-lg-x-sm{margin-left:1.5rem;margin-right:1.5rem}.bds-marg-lg-x-md{margin-left:2rem;margin-right:2rem}.bds-marg-lg-x-lg{margin-left:3rem;margin-right:3rem}.bds-marg-lg-x-xl{margin-left:4.2rem;margin-right:4.2rem}.bds-marg-lg-x-xxl{margin-left:5.5rem;margin-right:5.5rem}.bds-marg-lg-y-0{margin-top:0;margin-bottom:0}.bds-marg-lg-y-xxs{margin-top:.5rem;margin-bottom:.5rem}.bds-marg-lg-y-xs{margin-top:1rem;margin-bottom:1rem}.bds-marg-lg-y-sm{margin-top:1.5rem;margin-bottom:1.5rem}.bds-marg-lg-y-md{margin-top:2rem;margin-bottom:2rem}.bds-marg-lg-y-lg{margin-top:3rem;margin-bottom:3rem}.bds-marg-lg-y-xl{margin-top:4.2rem;margin-bottom:4.2rem}.bds-marg-lg-y-xxl{margin-top:5.5rem;margin-bottom:5.5rem}}@media (min-width:768px){.bds-pad-md-0{padding:0}.bds-pad-md-xxs{padding:.5rem}.bds-pad-md-xs{padding:1rem}.bds-pad-md-sm{padding:1.5rem}.bds-pad-md-md{padding:2rem}.bds-pad-md-lg{padding:3rem}.bds-pad-md-xl{padding:4.2rem}.bds-pad-md-xxl{padding:5.5rem}.bds-pad-md-all-0{padding:0}.bds-pad-md-all-xxs{padding:.5rem}.bds-pad-md-all-xs{padding:1rem}.bds-pad-md-all-sm{padding:1.5rem}.bds-pad-md-all-md{padding:2rem}.bds-pad-md-all-lg{padding:3rem}.bds-pad-md-all-xl{padding:4.2rem}.bds-pad-md-all-xxl{padding:5.5rem}.bds-pad-md-t-0{padding-top:0}.bds-pad-md-t-xxs{padding-top:.5rem}.bds-pad-md-t-xs{padding-top:1rem}.bds-pad-md-t-sm{padding-top:1.5rem}.bds-pad-md-t-md{padding-top:2rem}.bds-pad-md-t-lg{padding-top:3rem}.bds-pad-md-t-xl{padding-top:4.2rem}.bds-pad-md-t-xxl{padding-top:5.5rem}.bds-pad-md-b-0{padding-bottom:0}.bds-pad-md-b-xxs{padding-bottom:.5rem}.bds-pad-md-b-xs{padding-bottom:1rem}.bds-pad-md-b-sm{padding-bottom:1.5rem}.bds-pad-md-b-md{padding-bottom:2rem}.bds-pad-md-b-lg{padding-bottom:3rem}.bds-pad-md-b-xl{padding-bottom:4.2rem}.bds-pad-md-b-xxl{padding-bottom:5.5rem}.bds-pad-md-l-0{padding-left:0}.bds-pad-md-l-xxs{padding-left:.5rem}.bds-pad-md-l-xs{padding-left:1rem}.bds-pad-md-l-sm{padding-left:1.5rem}.bds-pad-md-l-md{padding-left:2rem}.bds-pad-md-l-lg{padding-left:3rem}.bds-pad-md-l-xl{padding-left:4.2rem}.bds-pad-md-l-xxl{padding-left:5.5rem}.bds-pad-md-r-0{padding-right:0}.bds-pad-md-r-xxs{padding-right:.5rem}.bds-pad-md-r-xs{padding-right:1rem}.bds-pad-md-r-sm{padding-right:1.5rem}.bds-pad-md-r-md{padding-right:2rem}.bds-pad-md-r-lg{padding-right:3rem}.bds-pad-md-r-xl{padding-right:4.2rem}.bds-pad-md-r-xxl{padding-right:5.5rem}.bds-pad-md-x-0{padding-left:0;padding-right:0}.bds-pad-md-x-xxs{padding-left:.5rem;padding-right:.5rem}.bds-pad-md-x-xs{padding-left:1rem;padding-right:1rem}.bds-pad-md-x-sm{padding-left:1.5rem;padding-right:1.5rem}.bds-pad-md-x-md{padding-left:2rem;padding-right:2rem}.bds-pad-md-x-lg{padding-left:3rem;padding-right:3rem}.bds-pad-md-x-xl{padding-left:4.2rem;padding-right:4.2rem}.bds-pad-md-x-xxl{padding-left:5.5rem;padding-right:5.5rem}.bds-pad-md-y-0{padding-top:0;padding-bottom:0}.bds-pad-md-y-xxs{padding-top:.5rem;padding-bottom:.5rem}.bds-pad-md-y-xs{padding-top:1rem;padding-bottom:1rem}.bds-pad-md-y-sm{padding-top:1.5rem;padding-bottom:1.5rem}.bds-pad-md-y-md{padding-top:2rem;padding-bottom:2rem}.bds-pad-md-y-lg{padding-top:3rem;padding-bottom:3rem}.bds-pad-md-y-xl{padding-top:4.2rem;padding-bottom:4.2rem}.bds-pad-md-y-xxl{padding-top:5.5rem;padding-bottom:5.5rem}.bds-marg-md-0{margin:0}.bds-marg-md-xxs{margin:.5rem}.bds-marg-md-xs{margin:1rem}.bds-marg-md-sm{margin:1.5rem}.bds-marg-md-md{margin:2rem}.bds-marg-md-lg{margin:3rem}.bds-marg-md-xl{margin:4.2rem}.bds-marg-md-xxl{margin:5.5rem}.bds-marg-md-all-0{margin:0}.bds-marg-md-all-xxs{margin:.5rem}.bds-marg-md-all-xs{margin:1rem}.bds-marg-md-all-sm{margin:1.5rem}.bds-marg-md-all-md{margin:2rem}.bds-marg-md-all-lg{margin:3rem}.bds-marg-md-all-xl{margin:4.2rem}.bds-marg-md-all-xxl{margin:5.5rem}.bds-marg-md-t-0{margin-top:0}.bds-marg-md-t-xxs{margin-top:.5rem}.bds-marg-md-t-xs{margin-top:1rem}.bds-marg-md-t-sm{margin-top:1.5rem}.bds-marg-md-t-md{margin-top:2rem}.bds-marg-md-t-lg{margin-top:3rem}.bds-marg-md-t-xl{margin-top:4.2rem}.bds-marg-md-t-xxl{margin-top:5.5rem}.bds-marg-md-b-0{margin-bottom:0}.bds-marg-md-b-xxs{margin-bottom:.5rem}.bds-marg-md-b-xs{margin-bottom:1rem}.bds-marg-md-b-sm{margin-bottom:1.5rem}.bds-marg-md-b-md{margin-bottom:2rem}.bds-marg-md-b-lg{margin-bottom:3rem}.bds-marg-md-b-xl{margin-bottom:4.2rem}.bds-marg-md-b-xxl{margin-bottom:5.5rem}.bds-marg-md-l-0{margin-left:0}.bds-marg-md-l-xxs{margin-left:.5rem}.bds-marg-md-l-xs{margin-left:1rem}.bds-marg-md-l-sm{margin-left:1.5rem}.bds-marg-md-l-md{margin-left:2rem}.bds-marg-md-l-lg{margin-left:3rem}.bds-marg-md-l-xl{margin-left:4.2rem}.bds-marg-md-l-xxl{margin-left:5.5rem}.bds-marg-md-r-0{margin-right:0}.bds-marg-md-r-xxs{margin-right:.5rem}.bds-marg-md-r-xs{margin-right:1rem}.bds-marg-md-r-sm{margin-right:1.5rem}.bds-marg-md-r-md{margin-right:2rem}.bds-marg-md-r-lg{margin-right:3rem}.bds-marg-md-r-xl{margin-right:4.2rem}.bds-marg-md-r-xxl{margin-right:5.5rem}.bds-marg-md-x-0{margin-left:0;margin-right:0}.bds-marg-md-x-xxs{margin-left:.5rem;margin-right:.5rem}.bds-marg-md-x-xs{margin-left:1rem;margin-right:1rem}.bds-marg-md-x-sm{margin-left:1.5rem;margin-right:1.5rem}.bds-marg-md-x-md{margin-left:2rem;margin-right:2rem}.bds-marg-md-x-lg{margin-left:3rem;margin-right:3rem}.bds-marg-md-x-xl{margin-left:4.2rem;margin-right:4.2rem}.bds-marg-md-x-xxl{margin-left:5.5rem;margin-right:5.5rem}.bds-marg-md-y-0{margin-top:0;margin-bottom:0}.bds-marg-md-y-xxs{margin-top:.5rem;margin-bottom:.5rem}.bds-marg-md-y-xs{margin-top:1rem;margin-bottom:1rem}.bds-marg-md-y-sm{margin-top:1.5rem;margin-bottom:1.5rem}.bds-marg-md-y-md{margin-top:2rem;margin-bottom:2rem}.bds-marg-md-y-lg{margin-top:3rem;margin-bottom:3rem}.bds-marg-md-y-xl{margin-top:4.2rem;margin-bottom:4.2rem}.bds-marg-md-y-xxl{margin-top:5.5rem;margin-bottom:5.5rem}}.bds-block{display:block}.bds-inline-block{display:inline-block}.bds-left{float:left}.bds-right{float:right}.clearfix{clear:both}.bds-v-top{vertical-align:top}.bds-v-bottom{vertical-align:bottom}.bds-flex{display:flex;flex-wrap:wrap}.bds-inline-flex{display:inline-flex;flex-wrap:wrap}.bds-flex-xy-center,.bds-flex.bds-xy-center,.bds-inline-flex.bds-xy-center{top:auto;left:auto;-webkit-transform:none;transform:none;align-items:center;justify-content:center}.bds-flex-y-center,.bds-flex.bds-y-center,.bds-inline-flex.bds-y-center{top:auto;-webkit-transform:none;transform:none;align-items:center}.bds-flex-y-stretch,.bds-flex.bds-y-stretch,.bds-inline-flex.bds-y-stretch{align-items:stretch}.bds-flex-space-between,.bds-flex.bds-space-between,.bds-inline-flex.bds-space-between{justify-content:space-between}.bds-flex-space-around,.bds-flex.bds-space-around,.bds-inline-flex.bds-space-around{justify-content:space-around}@media screen and (min-width:992px){.bds-order-1{order:1}.bds-order-2{order:2}.bds-order-3{order:3}.bds-order-4{order:4}.bds-order-5{order:5}}.bds-relative,.relative{position:relative}.absolute,.bds-absolute{position:absolute}.bds-fixed{position:fixed}.bds-tl-0{top:0;left:0}.bds-x-center{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.bds-y-center{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.bds-xy-center{top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}.bds-z-index-n1{z-index:-1}.bds-z-index-0{z-index:0}.bds-z-index-1{z-index:1}.bds-z-index-2{z-index:2}.bds-z-index-3{z-index:3}.bds-z-index-4{z-index:4}.bds-z-index-5{z-index:5}.bds-z-index-10{z-index:10}.bds-z-index-100{z-index:100}.bds-z-index-500{z-index:500}.bds-hide,.bds-show-at-lg,.bds-show-at-md,.bds-show-at-sm,.bds-show-at-xl{display:none}@media screen and (min-width:480px){.bds-show-at-sm{display:block}.bds-hide-at-sm,.bds-hide-sm-up{display:none}.bds-block-sm{display:block!important}.bds-inline-block-sm{display:inline-block!important}.bds-hide-sm{display:none!important}}@media screen and (min-width:768px){.bds-show-at-md{display:block}.bds-hide-at-md,.bds-hide-md-up{display:none}.bds-block-md{display:block!important}.bds-inline-block-md{display:inline-block!important}.bds-hide-md{display:none!important}}@media screen and (min-width:992px){.bds-show-at-lg{display:block}.bds-hide-at-lg,.bds-hide-lg-up{display:none}.bds-absolute-at-lg{position:absolute}.bds-x-center-at-lg{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.bds-block-lg{display:block!important}.bds-inline-block-lg{display:inline-block!important}.bds-hide-lg{display:none!important}}@media screen and (min-width:1200px){.bds-show-at-xl{display:block}.bds-hide-at-xl,.bds-hide-xl-up{display:none}.bds-block-xl{display:block!important}.bds-inline-block-xl{display:inline-block!important}.bds-hide-xl{display:none!important}}@media screen and (min-width:1200px){.bds-show-at-xl{display:block}.bds-hide-at-xl{display:none}.bds-hide-xl-up{display:none}}@media screen and (max-width:480px){.bds-hide-sm-down{display:none}}@media screen and (max-width:768px){.bds-hide-md-down{display:none}}@media screen and (max-width:992px){.bds-hide-lg-down{display:none}}@media screen and (max-width:1200px){.bds-hide-xl-down{display:none}}.bds-cursor-pointer{cursor:pointer}.bds-height-100{height:100%}.bds-width-100{width:100%}hr{height:2px;border:0;overflow:visible}[class*=' bds-btn'],[class^=bds-btn]{display:inline-flex!important;align-items:center;justify-content:center;border-radius:22px;box-sizing:border-box;font-size:.875rem;font-weight:400;text-decoration:none;height:40px;width:180px;padding:6px 6px 8px 6px;transition:background-color 160ms linear,color 160ms linear,border-color 160ms linear}.bds-btn:focus{outline:0}.bds-btn-auto{width:auto!important;height:auto!important;padding:6px 12px 8px 12px!important}.bds-btn-primary{color:#fff;background-color:#0075c9}.bds-btn-primary:hover{color:#fff;background-color:#004876}.bds-btn-primary:focus{outline:0}.bds-btn-primary-iv{color:#0075c9;background-color:#fff}.bds-btn-primary-iv:hover{color:#fff;background-color:#0075c9}.bds-btn-primary-iv:focus{outline:0}.bds-btn-i-primary{color:#0075c9;background-color:#fff}.bds-btn-i-primary:hover{color:#fff;background-color:#0075c9}.bds-btn-i-primary:focus{outline:0}.bds-btn-ghost{color:#fff;border:1px solid #fff;background-color:transparent}.bds-btn-ghost:hover{color:#000;background-color:#fff}.bds-btn-ghost:focus{outline:0}.bds-btn-secondary{color:#fff;background-color:#ff9e16}.bds-btn-secondary:hover{color:#fff;background-color:#ffad45}.bds-btn-secondary:focus{outline:0}.bds-btn-i-secondary{color:#ff9e16;background-color:#fff}.bds-btn-i-secondary:hover{color:#fff;background-color:#ff9e16}.bds-btn-i-secondary:focus{outline:0}.bds-btn-tertiary{color:#fff;background-color:#00bd70}.bds-btn-tertiary:hover{color:#fff;background-color:#00c884}.bds-btn-tertiary:focus{outline:0}.bds-btn-i-tertiary{color:#00bd70;background-color:#fff}.bds-btn-i-tertiary:hover{color:#fff;background-color:#00bd70}.bds-btn-i-tertiary:focus{outline:0}.bds-txt-white{color:#fff}.bds-txt-grey{color:#333e48}.bds-txt-grey-85{color:#4e5760}.bds-txt-grey-65{color:#757c83}.bds-txt-grey-45{color:#9ea2a7}.bds-txt-grey-15{color:#e3e2e2}.bds-txt-grey-05{color:#f0f0f0}.bds-txt-blue{color:#0075c9}.bds-txt-blue-85{color:#0088d1}.bds-txt-blue-65{color:#4da3dc}.bds-txt-blue-45{color:#8dbee7}.bds-txt-dark-blue{color:#004876}.bds-txt-dark-blue-85{color:#356189}.bds-txt-red{color:#f42534}.bds-txt-red-85{color:#fc564f}.bds-txt-red-65{color:#ff988a}.bds-txt-green{color:#00bd70}.bds-txt-green-85{color:#00c884}.bds-txt-green-65{color:#5fd6a0}.bds-txt-orange{color:#ff9e16}.bds-txt-orange-85{color:#ffad45}.bds-txt-orange-65{color:#ffc072}.bds-txt-purple{color:#8547ad}.bds-txt-purple-85{color:#9862b9}.bds-txt-purple-65{color:#b388cb}.bds-txt-white{color:#fff}.bds-txt-black{color:#000}.bds-bg-white{background-color:#fff}.bds-bg-grey{background-color:#333e48}.bds-bg-grey-85{background-color:#4e5760}.bds-bg-grey-65{background-color:#757c83}.bds-bg-grey-45{background-color:#9ea2a7}.bds-bg-grey-15{background-color:#e3e2e2}.bds-bg-grey-05{background-color:#f0f0f0}.bds-bg-blue{background-color:#0075c9}.bds-bg-blue-85{background-color:#0088d1}.bds-bg-blue-65{background-color:#4da3dc}.bds-bg-blue-45{background-color:#8dbee7}.bds-bg-dark-blue{background-color:#004876}.bds-bg-dark-blue-85{background-color:#356189}.bds-bg-red{background-color:#f42534}.bds-bg-red-85{background-color:#fc564f}.bds-bg-red-65{background-color:#ff988a}.bds-bg-green{background-color:#00bd70}.bds-bg-green-85{background-color:#00c884}.bds-bg-green-65{background-color:#5fd6a0}.bds-bg-orange{background-color:#ff9e16}.bds-bg-orange-85{background-color:#ffad45}.bds-bg-orange-65{background-color:#ffc072}.bds-bg-purple{background-color:#8547ad}.bds-bg-purple-85{background-color:#9862b9}.bds-bg-purple-65{background-color:#b388cb}.bds-bg-white{background-color:#fff}.bds-bg-black{background-color:#000}[class*=' bds-border'],[class^=bds-border]{border:1px;border-style:solid}.bds-border-white{border-color:#fff}.bds-border-grey{border-color:#333e48}.bds-border-grey-85{border-color:#4e5760}.bds-border-grey-65{border-color:#757c83}.bds-border-grey-45{border-color:#9ea2a7}.bds-border-grey-15{border-color:#e3e2e2}.bds-border-grey-05{border-color:#f0f0f0}.bds-border-blue{border-color:#0075c9}.bds-border-blue-85{border-color:#0088d1}.bds-border-blue-65{border-color:#4da3dc}.bds-border-blue-45{border-color:#8dbee7}.bds-border-dark-blue{border-color:#004876}.bds-border-dark-blue-85{border-color:#356189}.bds-border-red{border-color:#f42534}.bds-border-red-85{border-color:#fc564f}.bds-border-red-65{border-color:#ff988a}.bds-border-green{border-color:#00bd70}.bds-border-green-85{border-color:#00c884}.bds-border-green-65{border-color:#5fd6a0}.bds-border-orange{border-color:#ff9e16}.bds-border-orange-85{border-color:#ffad45}.bds-border-orange-65{border-color:#ffc072}.bds-border-purple{border-color:#8547ad}.bds-border-purple-85{border-color:#9862b9}.bds-border-purple-65{border-color:#b388cb}.bds-border-white{border-color:#fff}.bds-border-black{border-color:#000}.bds-hov-bg-white:hover{background-color:#fff}.bds-hov-bg-grey:hover{background-color:#333e48}.bds-hov-bg-grey-85:hover{background-color:#4e5760}.bds-hov-bg-grey-65:hover{background-color:#757c83}.bds-hov-bg-grey-45:hover{background-color:#9ea2a7}.bds-hov-bg-grey-15:hover{background-color:#e3e2e2}.bds-hov-bg-grey-05:hover{background-color:#f0f0f0}.bds-hov-bg-blue:hover{background-color:#0075c9}.bds-hov-bg-blue-85:hover{background-color:#0088d1}.bds-hov-bg-blue-65:hover{background-color:#4da3dc}.bds-hov-bg-blue-45:hover{background-color:#8dbee7}.bds-hov-bg-dark-blue:hover{background-color:#004876}.bds-hov-bg-dark-blue-85:hover{background-color:#356189}.bds-hov-bg-red:hover{background-color:#f42534}.bds-hov-bg-red-85:hover{background-color:#fc564f}.bds-hov-bg-red-65:hover{background-color:#ff988a}.bds-hov-bg-green:hover{background-color:#00bd70}.bds-hov-bg-green-85:hover{background-color:#00c884}.bds-hov-bg-green-65:hover{background-color:#5fd6a0}.bds-hov-bg-orange:hover{background-color:#ff9e16}.bds-hov-bg-orange-85:hover{background-color:#ffad45}.bds-hov-bg-orange-65:hover{background-color:#ffc072}.bds-hov-bg-purple:hover{background-color:#8547ad}.bds-hov-bg-purple-85:hover{background-color:#9862b9}.bds-hov-bg-purple-65:hover{background-color:#b388cb}.bds-hov-bg-white:hover{background-color:#fff}.bds-hov-bg-black:hover{background-color:#000}.bds-hov-txt-white:hover{color:#fff}.bds-hov-txt-grey:hover{color:#333e48}.bds-hov-txt-grey-85:hover{color:#4e5760}.bds-hov-txt-grey-65:hover{color:#757c83}.bds-hov-txt-grey-45:hover{color:#9ea2a7}.bds-hov-txt-grey-15:hover{color:#e3e2e2}.bds-hov-txt-grey-05:hover{color:#f0f0f0}.bds-hov-txt-blue:hover{color:#0075c9}.bds-hov-txt-blue-85:hover{color:#0088d1}.bds-hov-txt-blue-65:hover{color:#4da3dc}.bds-hov-txt-blue-45:hover{color:#8dbee7}.bds-hov-txt-dark-blue:hover{color:#004876}.bds-hov-txt-dark-blue-85:hover{color:#356189}.bds-hov-txt-red:hover{color:#f42534}.bds-hov-txt-red-85:hover{color:#fc564f}.bds-hov-txt-red-65:hover{color:#ff988a}.bds-hov-txt-green:hover{color:#00bd70}.bds-hov-txt-green-85:hover{color:#00c884}.bds-hov-txt-green-65:hover{color:#5fd6a0}.bds-hov-txt-orange:hover{color:#ff9e16}.bds-hov-txt-orange-85:hover{color:#ffad45}.bds-hov-txt-orange-65:hover{color:#ffc072}.bds-hov-txt-purple:hover{color:#8547ad}.bds-hov-txt-purple-85:hover{color:#9862b9}.bds-hov-txt-purple-65:hover{color:#b388cb}.bds-hov-txt-white:hover{color:#fff}.bds-hov-txt-black:hover{color:#000}@media (min-width:992px){.bds-bg-lg-white{background-color:#fff}.bds-bg-lg-grey{background-color:#333e48}.bds-bg-lg-grey-85{background-color:#4e5760}.bds-bg-lg-grey-65{background-color:#757c83}.bds-bg-lg-grey-45{background-color:#9ea2a7}.bds-bg-lg-grey-15{background-color:#e3e2e2}.bds-bg-lg-grey-05{background-color:#f0f0f0}.bds-bg-lg-blue{background-color:#0075c9}.bds-bg-lg-blue-85{background-color:#0088d1}.bds-bg-lg-blue-65{background-color:#4da3dc}.bds-bg-lg-blue-45{background-color:#8dbee7}.bds-bg-lg-dark-blue{background-color:#004876}.bds-bg-lg-dark-blue-85{background-color:#356189}.bds-bg-lg-red{background-color:#f42534}.bds-bg-lg-red-85{background-color:#fc564f}.bds-bg-lg-red-65{background-color:#ff988a}.bds-bg-lg-green{background-color:#00bd70}.bds-bg-lg-green-85{background-color:#00c884}.bds-bg-lg-green-65{background-color:#5fd6a0}.bds-bg-lg-orange{background-color:#ff9e16}.bds-bg-lg-orange-85{background-color:#ffad45}.bds-bg-lg-orange-65{background-color:#ffc072}.bds-bg-lg-purple{background-color:#8547ad}.bds-bg-lg-purple-85{background-color:#9862b9}.bds-bg-lg-purple-65{background-color:#b388cb}.bds-bg-lg-white{background-color:#fff}.bds-bg-lg-black{background-color:#000}}

/* ////////////////////////////// */
/* Language selector
/* ////////////////////////////// */
.language-selector>button {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
/*    -webkit-mask: url("/img/assets/icons/globe.svg") no-repeat center;
    mask: url("/img/assets/icons/globe.svg") no-repeat center;*/
    background-color: #4E5760
}

.language-selector img {
    vertical-align: top;
    visibility: hidden
}

.language-selector .current-locale::first-letter {
    text-transform: uppercase !important
}

.language-selector:hover>button {
    background-color: #0075C9
}

.language-switcher {
    top: 3.5em;
    left: -120%
}

.language-switcher>div {
    border-radius: 15px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1)
}

.language-switcher a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.language-switcher a.selected {
    font-weight: bold;
    background-image: url("http://branch.io/img/assets/icons/language-selected.svg");
    background-repeat: no-repeat;
    background-position: 94% 50%;
    position: relative
}

.language-switcher .language-arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0075C9;
    top: -10px
}
